* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo h1{
  font-size: 30px;
}

header {
  background-color: #0c2b63;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  font-size: 1.2rem;
}

.profile-container {
  background-color: white;
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 40px 30px ;
  text-align: center;
  margin-top: 50px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background:#006cbf ;
  margin: 0 auto;
}

.profile-pic h2 {
  margin-top: 10px;
  color: #333;
}

.details-form {
  margin-top: 100px;
  text-align: left;
}
.left{
  margin-top: 100px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

label {
  width: 30%;
  color: #333;
  font-weight: 500;
}

input {
  width: 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

input:focus {
  border-color: #1f4e79;
}


.save-btn {
  display: block;
  background-color: #1f4e79;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px auto 0;
  font-weight: 500;
}
.emergency-btn{
  width: 200px;
  height: 33px;
  background-color:#274375 ;
border: black 1px;
border-radius: 10px;
padding: 5px;
margin-left: 100px;
 
}
.emergency-btn:hover{
  background-color:  #006cbf;
}
footer {
  background-color: #0c2b63;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}
a{
  color:white
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .logo h1 {
    font-size: 24px;
  }

  .title a {
    font-size: 16px;
    margin-top: 5px;
  }

  .profile-container {
    width: 95%;
    padding: 20px 15px;
  }

  .set1 {
    flex-direction: column;
  }

  .set1 div {
    width: 100%;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 22px;
  }

  label {
    font-size: 14px;
  }

  .enter {
    font-size: 14px;
    padding: 7px;
  }

  .emergency-btn {
    width: 100%;
    font-size: 14px;
  }
}